// Home Page
.home-page{
    // background-color: $bg-white-red;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;

} 
.mav-section {
    padding-inline: 25px;
    padding-block: 25px;
    display: flex;
    flex-direction: column;
}
.mav-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // padding-block:25px;
    &__image {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px;
    }
    &__content {
        padding-left: 30px;
        width: 70%;
    }
}

.mav-video-embedd {
    width: 80%;
    margin-inline: auto;
    margin-top:25px;
}

.mav-2-col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    .mav-col {
        width: 50%;
        &.mav-image-bg {
            background-color: $greyLighter;
            min-height: 500px;
            display: flex;
            align-content: center;
            justify-content: center;
            border-radius: 2px;
            overflow: hidden;
            img {
                width: 65%;
                height: fit-content;
                margin-block: auto;
            }
        }
        .mav-content{
            width: 80%;
            margin: auto;
            .mav-button {
                margin-top: 15px;
                font-size: 1.8rem;
            }
        }
    }
    &__content {
        width: 50%;
        padding: 25px;
        &-full-width {
            width: 100%;
        }
    }
    &__image {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        &.mav-2-col__image-large {
            img {
                max-height: 450px;
            }
        }
        img {
            width: 100%;
            height: 100%;
            max-height: 300px;
            object-fit: contain;
        }
    }

    &__product {
        margin-inline: 25px;
        width: 100%;
        &-image {
            background-color: $white;
            border-radius: 13px;
            box-shadow: 3px 3px 27px rgba(0,0,0,0.18);
            position: relative;
            overflow: hidden;
            display: flex;
            padding: 25px;
            margin-bottom: 25px;
            height: 300px;
            width: 100%;
        }
        &-img {
            width: 60%;
            max-width: 308px;
            margin: auto;
        }
        &-vendor { 
            position: absolute;
            top:0;
            left:0;
            width: 100px;
        }
    }
}

.mav-3-col {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    &__col {
        width: 100%;
    }
    &__icon {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        background-color: $white;
        box-shadow: 3px 3px 8px rgba(0,0,0,0.18);
        margin-inline: auto;
        margin-bottom:20px;
    }
    &.mav-margin-block {
        margin-block: 30px;
    }
}
.mav-icon {
    margin-bottom: 25px;;
    &__bg {
        background-color: $greyLighter;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 45px;
        border-radius: 2px;
        height: 190px;
    }
}
.mav-4-col {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 15px;
    padding-inline: 50px;
    &__col {
        width: 100%;
    }
    &__icon {
        margin-bottom:20px;
        img {
            width: auto;
            height: 50px;
        }
    }
}

.mav-contact {
    &__headshot {
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: auto;
        margin-bottom: 25px;
        img {
            width: calc(100% - 10px);
            height: calc(100% - 10px);
            border-radius: 50%;
        }
    }
    .mav-body-p  {
        color: $grey;
        transition: 0.2s ease;
        display: block;
        width: fit-content;
        margin-inline: auto;
        text-align: center;
        margin-bottom: 15px;;
        &:hover {
            color: $blue;
        }
    }
}