
.mav-banner {
    width: calc(100% - 50px);
    margin-inline: auto;
    padding: 50px;
    border-radius: 13px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-block: 25px;
    &__content {
        width: 50%;
        .mav-body-p {
            padding-top:0;
            margin-bottom: 15px;
        }
    }
    &__image {
        width: 50%;
        img {
            max-height: 300px;
            object-fit: contain;
        }
    }
}