
.mav-banner {
    width: calc(100% - 50px);
    margin-inline: auto;
    padding: 50px;
    border-radius: 13px;
    overflow: hidden;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-block: 25px;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__content {
        width: 50%;
        &-full-width {
            width: 100%;
        }
        .mav-body-p {
            padding-top:0;

        }
        a {
            margin-top: 15px;
        }
    }
    &__image {
        width: 50%;
        img {
            max-height: 300px;
            object-fit: contain;
        }
    }
   &__email-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 15px;
    margin-top: 40px;
    a {
        margin: 0!important;
        padding:0!important;
    }
   }
}