
.mav-hero {
    width: 100%;
    position: relative;
    &__img {
        width: 100%;
        img {
            width: 100%;
            object-fit: cover;
        }
    }
    &__logo-overlay {
        position: absolute;
        bottom: 25px;
        left: 25px;
        width: 400px;
    }
    &__content {
        width: 100%;
        height: 100%;
        display: flex;
        position: absolute;
        top:0;
        left:0;
    }
    &__col {
        width: 50%;
        display: flex;
        flex-direction: column;
       justify-content: center;
       padding-left: 50px;
       .mav-button {
        margin-top:15px;
       }
    }
    &__logo {
        // background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 13px;
        margin: 0 auto;
        width: 60%;
        background-color: $white;
        img {
            width: 80%;
            border: 30px $white solid;
            border-radius: 13px;
            min-height: 200px;
            object-fit: contain;
            // box-shadow: 0 4px 13px rgba(0,0,0,.18);
        }
    }
}