// Utilities

$font: 'TWK Everett';
$fontBody: 'Arimo';

// Colours
$navy: #0C073D;
$grey: #575757;
$greyLight: #C3C3C3;
$greyLighter: #F4F4F2;
$greyLightest:  #D9D9D9;
$white: #ffffff;
$blue: #337EB5;

$pexip-navy: #0B2036;
$pexip-blue: #5EC2CC;
$pexip-orange: #E78483;

$teal: #114E50;
$tealDark: #08292B;

$teal_1: #1EB5D1;
$teal_2: #1DB0CB;
$teal_3: #1BA3BA;
$teal_4: #188D9F;
$teal_5: #156F79;
$teal_6: #114E50;

$blue_grad:  linear-gradient(146deg, rgba(30,181,209,1) 19%, rgba(29,176,203,1) 31%, rgba(27,163,186,1) 46%, rgba(24,141,159,1) 63%, rgba(21,111,121,1) 82%, rgba(17,78,80,1) 100%);