// Utilities

$font: 'TWK Everett';
$fontBody: 'Arimo';

// Colours
$navy: #0C073D;
$grey: #575757;
$greyLight: #C3C3C3;
$greyLighter: #F4F4F2;
$white: #ffffff;
$blue: #337EB5;

$pexip-navy: #0B2036;
$pexip-blue: #5EC2CC;
$pexip-orange: #E78483;